.places{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}
form{
    text-align: center;
}
body{
    background-image: url('http://www.powerpointhintergrund.com/uploads/2017/09/wallpaper-best-dr-seuss-background-wallpaper-download-html-de--23.jpeg')
}